<%= form_for(@elective) do |f| %>
  <% if @elective.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@elective.errors.count, "error") %> prohibited this elective from being saved:</h2>

      <ul>
      <% @elective.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
    Elective Code:
    <%= f.text_field :code %>
    <br>
    Elective Name:
    <%= f.text_field :name %>
    <br>
    Prerequisites:
    <%= f.text_field :prerequisites %>
    <br>
    Units:
    <%= f.number_field :units %>
    <br>
    Elective Description:
    <%= f.text_area :description, size: "60x10" %>
    <br>
    Track:
    <%= check_box_tag(:bi) %>
    <%= label_tag(:bi, "BI") %>
    <%= check_box_tag(:es) %>
    <%= label_tag(:es, "ES") %>
    <%= check_box_tag(:im) %>
    <%= label_tag(:im, "IM") %>
    <%= check_box_tag(:mgt) %>
    <%= label_tag(:mgt, "MGT") %>
    <br>
    Slots Available:
    <%= f.number_field :slots %>
    <br>
    Semester:

  <input type="submit" value="Save Goal"/>
  
<% end %>
