<%= simple_nested_form_for(@elective) do |f| %>

<div class="form-inputs">
    <!-- Code -->
    <%= f.input :elective_code, :label => 'Elective Code:', :input_html => {:size => 40} %>
    <!-- Name -->
    <%= f.input :name, :label => 'Elective Name:', :input_html => {:size => 40} %>
    <!-- Prerequisistes -->
    <%= f.input :prerequisites, :label => 'Prerequisites:', :input_html => {:size => 40} %>
    <!-- Units -->
    <p><%= f.input :units, :label => 'Units:', :input_html => {:size => 3, :min => 0, :max => 6} %>
    <!-- Description -->
    <%= f.label :description, :label => 'Description:' %><br>
    <%= f.text_area :description, size: "60x5" %>
    <!-- Slots -->
    <%= f.input :slots, :label => 'Slots:', :input_html => {:size => 3, :min => 0, :max => 60} %>
    <!-- Semester -->
    <p><%= f.input :semester, :label => 'Semester:', :input_html => {:size => 3, :min => 0, :max => 2} %>
  <br>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>

  <% end %>

<br>
<h3>Import Electives</h3>
<%= form_tag import_electives_path, multipart: true do %>
  <%= file_field_tag :file %>
  <br>
  <%= submit_tag "Import" %>
<% end %>

<br>
<br>
<%= link_to "Back to Home", root_path %>
