<%= simple_nested_form_for(@elective) do |f| %>

<div class="form-inputs">
    <!-- Code -->
    <%= f.input :elective_code, :input_html => {:size => 40} %>
    <!-- Name -->
    <%= f.input :name, :input_html => {:size => 40} %>
    <!-- Prerequisistes -->
    <%= f.input :prerequisites, :input_html => {:size => 40} %>
    <!-- Units -->
    <%= f.input :units, :input_html => {:size => 35} %><p>
    <!-- Description -->
    <%= f.label :description %><br>
    <%= f.text_area :description, size: "60x5" %>
    <!-- Slots -->
    <%= f.input :slots, :input_html => {:size => 35} %>
    <!-- Semester -->
    <%= f.input :semester, :input_html => {:size => 35} %>
  <br>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>

  <% end %>

<br>
<h3>Import Electives</h3>  
<%= form_tag import_electives_path, multipart: true do %>  
  <%= file_field_tag :file %>  
  <br>
  <%= submit_tag "Import" %>  
<% end %> 

<br>
<br>
<%= link_to "Back to Home", root_path %>