<h1>New Elective</h1>

<%= render 'form' %>

<h2>Import Electives</h2>  
<%= form_tag import_electives_path, multipart: true do %>  
  <%= file_field_tag :file %>  
  <br><%= submit_tag "Import" %>  
<% end %> 
<%= link_to "Back", electives_path %>
