<h1><%= @elective.name %></h1>

<strong>Elective Code</strong>: <%= @elective.elective_code %> <br>
<strong>Prerequisites</strong>: <%= @elective.prerequisites %> <br>
<strong>Units</strong>: <%= @elective.units %> <br>
<strong>Slots</strong>: <%= @elective.slots %> <br>
<strong>Semester</strong>: <%= @elective.semester %> <br>
<strong>Description</strong>: <%= @elective.description %> <br>
<br>
<%= link_to "Edit", edit_elective_path(@elective) %> |
<%= link_to "Back", electives_path %>
