<%= simple_nested_form_for(@student) do |f| %>

  <div class="form-inputs">
    <!-- Id number -->
    <%= f.input :id_number, :label => 'ID Number:', :input_html => {:size => 6, :min => 0} %>
    <!-- Name -->
    <%= f.input :name, :label => 'Name:', :input_html => {:size => 40} %>
    <!-- Year Level -->
    <%= f.input :year_level, :label => 'Year Level:', as: :radio_buttons, :collection => ['2nd', '3rd', '4th'] %>
    <!-- Course -->
    <%= f.label :course, :label => 'Course:' %>
    <%= f.select :course, :collection => ['BS MIS', 'BS MIS-MSCS', 'BS CS', 'BS CS-MSCS'] %><p>
    <!-- Track -->
    <%= f.label :track, :label => 'Track:' %>
    <%= f.select :track, :collection => ['Enterprise Systems', 'Business Intelligence', 'Interactive Multimedia', 'N/A'] %><p>
    <!-- Spec -->
    <%= f.label :specialization, :label => 'Specialization:' %>
    <%= f.select :specialization, :collection => ['Enterprise Systems', 'Business Intelligence', 'Interactive Multimedia', 'N/A'] %>
    <!-- Email -->
    <%= f.input :email_address, :label => 'Email Address:', :input_html => {:size => 30} %>
    <!-- Contact -->
    <%= f.input :contact_number, :label => 'Contact Number:', :input_html => {:maxlength => 11, :size => 25} %>
    <!-- Advisement Accomplished? -->
    <%= f.input :advisement_accomplished, :label => 'Advisement Accomplished:', as: :radio_buttons, :collection => ['Yes', 'No'] %>
    <br>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>

  <% end %>
  <br>

<h3>Import Students</h3>
<%= form_tag import_students_path, multipart: true do %>  
  <%= file_field_tag :file %>
  <br> 
  <%= submit_tag "Import" %>  
<% end %>

<br>
<br>
<%= link_to "Back to Home", root_path %>
