<%= simple_nested_form_for(@student) do |f| %>
  
  <div class="form-inputs">
    <!-- Id number -->
    <%= f.input :id_number, :label => 'ID Number:', :input_html => {:size => 6} %>
    <!-- Name -->
    <%= f.input :name, :label => 'Name:', :input_html => {:size => 40} %>
    <!-- Year Level -->
    <%= f.input :year_level, :label => 'Year Level:', as: :radio_buttons, :collection => ['2nd', '3rd', '4th'] %>
    <!-- Course -->
    <%= f.label :course %>
    <%= f.select :course, :collection => ['BS MIS', 'BS MIS-MSCS', 'BS CS', 'BS CS-MSCS'] %><p>

    <!-- REMEMBER TO CHANGE DROPDOWN TO CHECKBOXES TO ACCEPT MULTIPLE TRACKS AND SPECS.
    Current database has no capacity to accept that for now. -->

    <!-- Track -->
    <%= f.label :track %>
    <%= f.select :track, :collection => ['Enterprise Systems', 'Business Intelligence', 'Interactive Multimedia', 'N/A'] %><p>
    <!-- Spec -->
    <%= f.label :specialization %>
    <%= f.select :specialization, :collection => ['Enterprise Systems', 'Business Intelligence', 'Interactive Multimedia', 'N/A'] %>
    <!-- Email -->
    <%= f.input :email_address, :label => 'Email Address:', :input_html => {:size => 30} %>
    <!-- Contact -->
    <%= f.input :contact_number, :label => 'Contact Number:', :input_html => {:maxlength => 11, :size => 25} %>
    <br>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>

  <% end %>

<br>
<br>
<%= link_to "Back to Home", root_path %>