<div class="col-md-3">
  <div class="row" style="height: 40px">
<h1><%= @student.name %></h1>

<strong>ID Number</strong>: <%= @student.id_number %> <br>
<strong>Year Level</strong>: <%= @student.year_level %> <br>
<strong>Course</strong>: <%= @student.course %> <br>
<strong>Track</strong>: <%= @student.track %> <br>
<strong>Specialization</strong>: <%= @student.specialization %> <br>
<strong>E-mail Address</strong>: <%= @student.email_address %> <br>
<strong>Contact Number</strong>: <%= @student.contact_number %> <br>
</div>
</div>

<div class="col-md-9">
  <!-- fix border and text alignment -->
  <div class="row" style="height: 35px; background-color: #36ADAE; text-align: center;">
    <h4>Choose your Elective</h4>
  </div>
<table class = "table table-hover">
  <thead>
    <tr>
      <th style="text-align: center; width: 50px;"><input type="checkbox" id="selectAll" value="selectAll">
      <th style="width: 300px; text-align: center;">Elective Code</th>
      <th style="width: 300px; text-align: center;">Name</th>
  </thead>
<% @electives.each do |elective| %>
        <td style="text-align: center;"><input type="checkbox" name="foo" value="bar4">
        <td style="text-align: center;"><%= elective.elective_code %></td>
        <td style="text-align: center;"><%= elective.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
