<h1>Listing Students</h1>

<%= link_to "New Student", new_student_path %>
<p>

<table class = "table table-striped">
  <thead>
    <tr>
      <th>Student Name</th>
      <th>ID Number</th>
      <th>Year Level</th>
      <th>Course</th>
      <th>Track</th>
      <th>Specialization</th>
     </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.id_number %></td>
        <td><%= student.year_level %></td>
        <td><%= student.course %></td>
        <td><%= student.track %></td>
        <td><%= student.specialization %></td>
        <td><%= link_to "Show", student_path(student.id) %></td>
        <td><%= link_to "Edit", edit_student_path(student) %></td>
        <td><%= link_to "Destroy", student_path(student.id), :method => :delete, :data => { :confirm => "Are you sure?" } %> 
      </tr>
    <% end %>
  </tbody>
</table>