<div class="col-md-2">
  <div class="row" style="height: 40px">
    <a class="btn btn-default" href="students/new" role="button" style='width: 150px;'>ADD STUDENT</a>
  </div>
  <div class="row" style="height: 40px">
    <a class="btn btn-default" href="students/:id/delete" role="button" style='width: 150px;'>DELETE STUDENTS</a>
  </div>
  <div class="row" style="height: 40px;">
    <%= form_tag students_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search] %>
  </div>
  <div class="row">
    <%= submit_tag "Search", :name => nil %>
  </div>
  <% end %>
</div>

<div class="col-md-10">
  <div class="row" style="height: 35px; background-color: #36ADAE; text-align: center;"><!-- fix border and text alignment -->
    <h4>Student List</h4>
  </div>
  <table class = "table table-hover">
    <thead>
      <tr>
        <th style="text-align: center; width: 100px;">ID Number</th>
        <th style="text-align: center; width: 250px;">Student Name</th>
        <th style="text-align: center; width: 150px;">Year & Course</th>
        <th style="text-align: center;">Track / Specialization</th>
    </thead>

    <tbody>
      <% @students.each do |student| %>
        <tr  onclick="location.href='<%= student_path(student.id) %>'">
        <td style="text-align: center;"><%= student.id_number %></td>
        <td style="text-align: center;"><%= student.name %></td>
        <td style="text-align: center;"><%= student.year_level %> <%= student.course %></td>
        <td style="text-align: center;"><%= student.track %> / <%= student.specialization %></td>
        <td style="text-align: center;"><%= link_to "Edit", edit_student_path(student) %></td>
        <td style="text-align: center;"><%= link_to "Destroy", student_path(student.id), method: :delete, data: { confirm: "Are you sure?" } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
