<div class="col-md-2">
<div class="row" style="height: 40px">
<h2>New Student</h2>

<%= render 'form' %>

<<<<<<< HEAD
| <%= link_to "Back", students_path %>
</div>
</div>
=======
<h2>Import Students</h2>  
<%= form_tag import_students_path, multipart: true do %>  
  <%= file_field_tag :file %>
  <br> 
  <%= submit_tag "Import" %>  
<% end %>
<br>

<%= link_to "Back", students_path %>
>>>>>>> 328759be31ccc9a88592181c7b38fe36424cdd10
