<h1>New Student</h1>

<%= render 'form' %>

<h2>Import Students</h2>  
<%= form_tag import_students_path, multipart: true do %>  
  <%= file_field_tag :file %>
  <br> 
  <%= submit_tag "Import" %>  
<% end %>  

<%= link_to "Back", students_path %>
