<!DOCTYPE html>
<html>
  <head>
  	<title>Advisement</title>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!-- Include the bootstrap stylesheets -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Include your own stylesheets -->
    <link href="mystyles.css" rel="stylesheet">
  </head>
  <body>
	<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container-fluid">
      	<div class="row" style='height: 40px; background-color: #36ADAE;'></div>
      	<!-- fix alignment and font -->
      	<div class="row" style='height: 110px; color: white; background-color: #2B2F30;'>
      		<div class="col-md-9">
            <h1 style="font-family: tw cen mt condensed; font-size: 48px;">ELECTIVE ENLISTMENT PROGRAM</h1>
          </div>
          <div class="col-md-3" style="text-align: right;">
            <img src="/blueSystems.png" style="height: 110px;">
          </div>
      	</div>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <p class="navbar-text pull-right">
    <% if user_signed_in? %>
    Logged in as <strong><%= current_user.email %></strong>.
    <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
    <% else %>
    <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
    <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
    <% end %>

        <div class="collapse navbar-collapse"><!-- collapse allows for this navbar to be used in mobile devices -->
          <ul class="nav nav-tabs"><!-- this is the list of navigation options in your navbar -->
            <li><a href="/students" style='width: 250px; text-align: center; color: #36ADAE;'><b>Student Database</b></a></li>
            <li><a href="/electives" style='width: 250px; text-align: center; color: #36ADAE;'><b>Elective Database</b></a></li>
            <li><a href="/tracks" style='width: 250px; text-align: center; color: #36ADAE;'><b>Tracks</b></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
      </div>
    </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
	<div class="container">
    <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
		<%= yield %>
	</div>
  </body>
</html>
